.launch--section {
  color: #fff;
  .header {
    margin-bottom: 4rem;
  }

  .countdown--date {
    .countdown-segment {
      position: relative;
      height: 100%;
      width: 11rem;

      @media only screen and (max-width: $bp-small) {
        width: 8rem;
      }

      .segment__display {
        position: relative;
        text-align: center;
        overflow: hidden;
        height: 17vh;
        width: 100%;
        color: transparent;

        background-color: $dark-blue-bg;
        display: flex;
        align-items: center;
        justify-content: center;

        box-shadow: 0rem 1rem 0.2rem $dark-blue-bg;

        @media only screen and (max-width: $bp-small) {
          height: 12vh;
        }
      }

      .segment__overlay {
        position: absolute;
        top: 0;
        perspective: 400px;
        height: 100%;
        width: 11rem;

        @media only screen and (max-width: $bp-small) {
          width: 8rem;
        }
      }

      .segment__overlay--top,
      .segment__overlay--bottom {
        position: absolute;
        overflow: hidden;
        text-align: center;
        width: 100%;
        height: 50%;
      }

      .segment__overlay--top {
        top: 0;
        line-height: 1.8;
        color: rgba($secondary-bg, 0.8);
        background: $primary-bg;
        transform-origin: bottom;
        transition: all 0.5s;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;

        @media only screen and (max-width: $bp-small) {
        }
      }

      .segment__overlay--bottom {
        bottom: 0;
        line-height: 0;
        color: $secondary-bg;
        background-color: $grayish-bg;
        transition: all 0.5s;
        transform-origin: top;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
      }
    }
  }
}

.flip--top {
  animation: flip-top 0.5s linear;
}

.flip--bottom {
  animation: flip-bottom 0.5s linear;
}

@keyframes flip-top {
  0% {
    transform: rotateX(0deg);
  }
  50%,
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flip-bottom {
  0%,
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

//OVERLAY QUESTION
.overlay {
  .input--num {
    padding: 1rem 1rem;
    color: $secondary-bg;
    background-color: $primary-bg;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 0.5rem;
  }

  .btn {
    &,
    &:link,
    &:visited {
      border: none;
      padding: 1rem 1rem;
      border-radius: 2rem;
      background-color: rgba($secondary-bg, 0.8);
      margin-top: 1.5rem;
      display: inline-block;
      cursor: pointer;
      transition: all 0.2s;
    }

    &:hover {
      transform: translateY(-0.4rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }

    &:active,
    &:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }
  }
}

.hidden {
  display: none;
}
