.launch--section {
  .header {
    font-size: 4rem;
    text-transform: capitalize;
    text-align: center;
  }
  .countdown {
    &--date {
      text-align: center;
      //   width: 8vw;

      &:not(:last-child) {
        margin-right: 3rem;
      }
      div {
        font-size: 5rem;
        // height: 30vh;
      }

      p {
        font-size: 1.5rem;
        margin-top: 1.5rem;
        text-transform: uppercase;
      }
    }

    .segment__overlay--top,
    .segment__overlay--bottom {
      font-size: 6rem;
      font-weight: bold;
    }
  }
}

.overlay {
  &__header {
    color: #fff;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .btn {
    font-weight: 600;
  }
}
